<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <title>ATM Simulation</title>
    </head>
    <body>
        <h1>ATM Simulation</h1>
        <form th:action="@{/transactions-ondate}" method="post" class="container">
            <div>Please enter date</div>
            <div>press enter to go back to Transaction: <input type="date" name="onDate" style="width: 10em" autofocus="autofocus" /></div>
            <input type="submit" name="transactions-ondate" class="display-none" />
        </form>
        <br/><br />
        <div class="error" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
    </body>
</html>