<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <title>ATM Simulation</title>
    </head>
    <body>
        <h1>ATM Simulation</h1>
        <form th:action="@{/withdraw}" method="post" class="container">
            <ol>
                <li>$10</li>
                <li>$50</li>
                <li>$100</li>
                <li>Other</li>
                <li>Back</li>
            </ol>
            <div>Please choose option[5] <input type="text" name="option" style="width: 1em" autofocus="autofocus" /></div>
            <input type="submit" name="transaction" class="display-none" />
        </form>
        <br/><br />
        <div class="error" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
    </body>
</html>